@import 'mixins'
.frame 
  @include flex(column)
  flex-grow: 1

.frame-title
  background-color: #3c3c3c
  color: #ffffff
  border-bottom: 1px solid #bcbcbc
  padding: 3px 10px

ng-content
  width:100%
