@mixin margin-y($num)
  margin:
    top: $num
    bottom: $num

div
  @include margin-y(.2rem)
  padding: .2rem .5rem
  
  &:hover
    background-color: #6c6c6c
ul
  list-style-type: none
  padding-left: 1rem
  @include margin-y(.2rem)

.selected
  background-color: #6c6c6c
