.tab
  display: inline-block
  padding: .5em .5em
  background-color: #3c3c3c
  cursor: pointer
  user-select: none
  line-height: 1.2rem

.text
  display: inline-block
  vertical-align: middle

.selected
  background-color: #212121

.close
  display: inline-block
  position: relative
  margin-left: .7em
  vertical-align: middle
